# Why did Tyreek Hill have the most fantasy points for a WR?

He did it all
Who else in the league was comparable?

In [1]:
import pandas as pd
import matplotlib as plt
import psycopg2 as pg
import seaborn as sns
import matplotlib.pyplot as plt
import time

In [2]:
%matplotlib inline
conn = pg.connect("dbname=nfldb user=nfldb password=nfldb")
sns.set(color_codes=True)

In [3]:
df_week = pd.read_sql("SELECT distinct game.week from game \
WHERE game.season_year = '2016' \
AND game.season_type = 'Regular' \
AND game.finished = 'Yes' \
order by week asc", conn)

df_rtar = pd.read_sql("select player.full_name AS wr, player.team, sum(play_player.receiving_tar) AS tar \
from player \
inner join play_player \
ON player.player_id = play_player.player_id \
inner join game \
on game.gsis_id = play_player.gsis_id \
WHERE game.season_year = '2016' \
AND game.season_type = 'Regular' \
AND play_player.receiving_tar > 0 \
AND player.full_name = 'Tyreek Hill' \
GROUP BY player.full_name, player.team \
ORDER by tar desc \
limit 9", conn)

df_tar_tot = pd.DataFrame([])

for wr in df_rtar['wr']:
    for x in df_week['week']:
        df_tar = pd.read_sql("select game.week, player.full_name AS name, sum(play_player.receiving_tar) AS tar \
        from player \
        inner join play_player \
        ON player.player_id = play_player.player_id \
        inner join game \
        on game.gsis_id = play_player.gsis_id \
        WHERE game.season_year = '2016' \
        AND game.season_type = 'Regular' \
        AND game.finished = 'yes' \
        AND game.week = %(row)s \
        AND play_player.receiving_tar > 0 \
        AND player.full_name = %(wr)s \
        group by game.week, player.full_name, player.team \
        order by tar desc", conn, params={'row':x, 'wr':wr})
        df_tar_tot = df_tot.append(df_rtar, ignore_index=True)

        
        
df_ryds = pd.read_sql("select player.full_name AS wr, player.team, sum(play_player.receiving_yds) AS yds \
from player \
inner join play_player \
ON player.player_id = play_player.player_id \
inner join game \
on game.gsis_id = play_player.gsis_id \
WHERE game.season_year = '2016' \
AND game.season_type = 'Regular' \
AND play_player.receiving_yds > 0 \
AND player.full_name = 'Tyreek Hill' \
GROUP BY player.full_name, player.team \
ORDER by yds desc \
limit 9", conn)

df_ryds_tot = pd.DataFrame([])

for wr in df_ryds['wr']:
    for x in df_week['week']:
        df_ryds = pd.read_sql("select game.week, player.full_name AS name, sum(play_player.receiving_yds) AS yds \
        from player \
        inner join play_player \
        ON player.player_id = play_player.player_id \
        inner join game \
        on game.gsis_id = play_player.gsis_id \
        WHERE game.season_year = '2016' \
        AND game.season_type = 'Regular' \
        AND game.finished = 'yes' \
        AND game.week = %(row)s \
        AND play_player.receiving_yds > 0 \
        AND player.full_name = %(wr)s \
        group by game.week, player.full_name, player.team \
        order by yds desc", conn, params={'row':x, 'wr':wr})
        df_ryds_tot = df_ryds_tot.append(df_ryds, ignore_index=True)
        
# sns.lmplot(x="week", y="tar", col="name", data=df_tot, palette="Set1", aspect=1);

grid = sns.FacetGrid(df_tar_tot, col="name", hue="name", col_wrap=3, size=5)
grid.map(plt.axhline, y=0, ls=":", c=".5")
grid.map(plt.plot, "week", "tar", marker="o", ms=4)
grid.set(xticks=np.arange(18), yticks=np.arange(25),
         xlim=(.5, 17), ylim=(-1, 25))

grid = sns.FacetGrid(df_ryds_tot, col="name", hue="name", col_wrap=3, size=5)
grid.map(plt.axhline, y=0, ls=":", c=".5")
grid.map(plt.plot, "week", "yds", marker="o", ms=4)
grid.set(xticks=np.arange(18), xlim=(.5, 17), ylim=(-1, 100))

NameError: name 'df_tot' is not defined

In [ ]:
df_wr = pd.read_sql("select player.full_name, player.position, player.team,\
sum(play_player.puntret_yds) AS punt_yds, \
sum(play_player.puntret_tds) AS ptun_tds, \
sum(play_player.kickret_ret) AS kick_ret, \
sum(play_player.kickret_yds) AS kick_yds, \
sum(play_player.kickret_tds) AS kick_tds, \
sum(play_player.receiving_yds) AS rec_yds, \
sum(play_player.receiving_tds) AS rec_tds, \
sum(play_player.rushing_yds) AS rush_yds, \
sum(play_player.rushing_tds) AS rush_tds, \
sum(play_player.puntret_yds) +  sum(play_player.kickret_yds) + sum(play_player.rushing_yds) + sum(play_player.receiving_yds) AS total_yds, \
sum(play_player.puntret_tds) +  sum(play_player.kickret_tds) + sum(play_player.rushing_tds) + sum(play_player.receiving_tds) AS total_tds \
from player \
inner join play_player \
ON player.player_id = play_player.player_id \
inner join game \
on game.gsis_id = play_player.gsis_id \
WHERE game.season_year = '2016' \
AND game.season_type = 'Regular' \
AND game.finished = 'yes' \
AND player.full_name = 'Tyreek Hill' \
group by player.full_name, player.position, player.team \
order by total_tds desc \
limit 10", conn)

df_wr

In [ ]:
df_wr = pd.read_sql("select player.full_name, player.team, player.,\
sum(play_player.puntret_yds) +  sum(play_player.kickret_yds) + sum(play_player.rushing_yds) + sum(play_player.receiving_yds) AS total_yds, \
sum(play_player.puntret_tds) +  sum(play_player.kickret_tds) + sum(play_player.rushing_tds) + sum(play_player.receiving_tds) AS total_tds \
from player \
inner join play_player \
ON player.player_id = play_player.player_id \
inner join game \
on game.gsis_id = play_player.gsis_id \
WHERE game.season_year = '2016' \
AND game.season_type = 'Regular' \
AND game.finished = 'yes' \
AND player.full_name = 'Tyreek Hill' \
group by player.full_name, player.position, player.team \
order by total_tds desc \
limit 10", conn)

df_wr

In [4]:
df_wr = pd.read_sql("select player.full_name, player.position, player.team,\
sum(play_player.puntret_yds) AS punt_yds, \
sum(play_player.puntret_tds) AS ptun_tds, \
sum(play_player.kickret_ret) AS kick_ret, \
sum(play_player.kickret_yds) AS kick_yds, \
sum(play_player.kickret_tds) AS kick_tds, \
sum(play_player.receiving_yds) AS rec_yds, \
sum(play_player.receiving_tds) AS rec_tds, \
sum(play_player.rushing_yds) AS rush_yds, \
sum(play_player.rushing_tds) AS rush_tds, \
sum(play_player.puntret_yds) +  sum(play_player.kickret_yds) + sum(play_player.rushing_yds) + sum(play_player.receiving_yds) AS total_yds, \
sum(play_player.puntret_tds) +  sum(play_player.kickret_tds) + sum(play_player.rushing_tds) + sum(play_player.receiving_tds) AS total_tds \
from player \
inner join play_player \
ON player.player_id = play_player.player_id \
inner join game \
on game.gsis_id = play_player.gsis_id \
WHERE game.season_year = '2016' \
AND game.season_type = 'Regular' \
AND game.finished = 'yes' \
AND sum(play_player.rushing_tds) > 0 \
group by player.full_name, player.position, player.team \
order by total_tds desc \
limit 10", conn)

df_wr

DatabaseError: Execution failed on sql 'select player.full_name, player.position, player.team,sum(play_player.puntret_yds) AS punt_yds, sum(play_player.puntret_tds) AS ptun_tds, sum(play_player.kickret_ret) AS kick_ret, sum(play_player.kickret_yds) AS kick_yds, sum(play_player.kickret_tds) AS kick_tds, sum(play_player.receiving_yds) AS rec_yds, sum(play_player.receiving_tds) AS rec_tds, sum(play_player.rushing_yds) AS rush_yds, sum(play_player.rushing_tds) AS rush_tds, sum(play_player.puntret_yds) +  sum(play_player.kickret_yds) + sum(play_player.rushing_yds) + sum(play_player.receiving_yds) AS total_yds, sum(play_player.puntret_tds) +  sum(play_player.kickret_tds) + sum(play_player.rushing_tds) + sum(play_player.receiving_tds) AS total_tds from player inner join play_player ON player.player_id = play_player.player_id inner join game on game.gsis_id = play_player.gsis_id WHERE game.season_year = '2016' AND game.season_type = 'Regular' AND game.finished = 'yes' AND sum(play_player.rushing_tds) > 0 group by player.full_name, player.position, player.team order by total_tds desc limit 10': aggregates not allowed in WHERE clause
LINE 1: ...on_type = 'Regular' AND game.finished = 'yes' AND sum(play_p...
                                                             ^